@{
    string stockSymbol = ViewBag.StockSymbol;
    ViewData["Title"] = stockSymbol;
}

<div class="text-center">
    <h1 class="display-4">@stockSymbol</h1>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<canvas id="chartContainer" width="400" height="200"></canvas>

<script type="text/javascript">
new Chart(document.getElementById("chartContainer"),
        {
	        "type": "line",
            "data": {
			            "labels": @Html.Raw(ViewBag.Labels),
			            "datasets": [
                            {
                                "label": "@ViewBag.Title",
                                "data": @Html.Raw(ViewBag.Data),
			                    "fill": false,
			                    "borderColor": "rgb(75, 192, 192)",
			                    "lineTension": 0.01
                            }
                        ]
                    },
	        "options": {
                "legend": {
                    "display": false
                },
                "bezierCurve" : false,
                "scales": {
                "yAxes": [{
                  "scaleLabel": {
                    "display": true,
                    "labelString": "@ViewBag.YAxisLabel"
                  }
                }]
  }
            }
        });

</script>